$dh-yellow: #F9e54E;
$dh-orange: #F8981D;
$dh-red: #E12E4B;
$dh-blue: #5BBDC8;
// primary: '#1976D2'
// secondary: '#424242'
// accent: '#82B1FF'
// error: '#FF5252'
// info: '#2196F3'
// success: '#4CAF50'
// warning: '#FFC107'

* {
  box-sizing: border-box;
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}

html,body{
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}

/* 更改反白背景顏色 */
::selection{
  background: $dh-red;
  color: white;
}

/* RWD */
/* 平板尺寸以下 */
// for iphone5s/5se
@media (max-width: 600px) {
  /* #app */
  #app{
    #bottom{
      a,button{
        width: calc(100% / 6);
      }
    }
  }
  /* game 區------------------------------------------ */
  #home,#wheel,#raffle,#bottle,#group{
    .gameSet{
      font-size: 1.75rem !important;
    }
    .startBig{
      width: 4rem !important;
      height: 4rem !important;
      font-size: 2rem !important;
      box-shadow:0 0.36rem 0 #be263f,0 0.55rem #333 !important;
      border: 0.091rem solid #df5d73 !important;
      /* 點擊效果 */
      &:active{
        box-shadow:0 0.12rem 0 #333 !important;
        filter: drop-shadow(0 0 0.8rem #f66) !important;
      }
    }
  }
  /* home 區------------------------------------------ */
  #home{
    #homeResult{
      font-size: 1rem !important;
    }
    .startBig{
      bottom: 27% !important;
      /* 點擊效果 */
      &:active{
        bottom: calc(27% - 0.9rem) !important;
      }
    }
  }

  /* wheel 區------------------------------------------ */
  #wheel{
    #turnTable{
      &::before{
        border: 0.65rem solid #6636 !important;
        filter: drop-shadow(0 0 0.015rem #222) !important;
      }
    }
    .wheelText{
      font-size: 0.6rem !important;
    }
    .initText{
      font-size: 0.6rem !important;
    }
  }
  /* raffle 區------------------------------------------ */
  #raffle{
    #box{
      width: 70% !important;
      height: 45% !important;
      border: 0.45rem solid !important;
      border-radius: 1rem !important;
      &::before{
        content: '';
        width: 60% !important;
      }
    }
    .paper{
      width: 26% !important;
      height: 25% !important;
    }
  }
}
@media (max-width: 1024px) { 
  /* #app */
  #top{
    display: none;
  }
  #bottom{
    display: flex;
  }
  #footer{
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home,#wheel,#raffle,#bottle,#group{
    width: 100%;
    height: calc(100% - 56px);
    .game{
      width: 80%;
      height: 90%;
    }
    .gameSet{
      font-size: 2.5rem;
    }
    .startBig{
      width: 6rem;
      height: 6rem;
      font-size: 3rem;
      box-shadow:0 0.56rem 0 #be263f,0 0.75rem #333;
      border: 0.1rem solid #df5d73;
      // 小尺寸要0.12s
      transition: 0.12s;
      /* 點擊效果 */
      &:active{
        box-shadow:0 0.12rem 0 #333;
        filter: drop-shadow(0 0 1.2rem #f66);
      }
    }
  }
  /* home 區------------------------------------------ */
  #home{
    #homeResult{
      font-size: 1.5rem;
    }
    .hand{
      font-size: 25vmin;
    }
    .startBig{
      bottom: 32%;
      left: 50%;
      transform: translateX(-50%);
      /* 點擊效果 */
      &:active{
        bottom: calc(32.5% - 1rem);
      }
    }
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle{
    #wine{
      width: 70%;
      cursor: pointer;
      transition: 2.7s;
    }
  }
    /* wheel 區------------------------------------------ */
    #wheel{
      #turnTable{
        &::before{
          border: 0.65rem solid #6636;
          filter: drop-shadow(0 0 0.35rem #222);
        }
      }
      .wheelText{
        font-size: 1.85rem;
      }
      .initText{
        font-size: 1.85rem;
      }
    }
  /* raffle 區------------------------------------------ */
  #raffle{
    #box{
      width: 65%;
      height: 55%;
      border: 0.6rem solid;
      border-radius: 1.35rem;
      &::before{
        content: '';
        width: 65%;
      }
    }
    .paper{
      width: 22%;
      height: 28%;
    }
  }
}

/* 電腦尺寸以上 */
@media (min-width: 1025px) { 
  /* #app */
  #top{
    display: flex;
  }
  #bottom{
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home,#wheel,#raffle,#bottle,#group{
    width: 100%;
    height: 100%;
    .game{
      width: 65%;
      height: 80%;
    }
    .gameSet{
      font-size: 2.5rem;
    }
    .startBig{
      width: 6rem;
      height: 6rem;
      font-size: 3rem;
      box-shadow:0 0.56rem 0 #be263f,0 0.75rem #333;
      border: 0.1rem solid #df5d73;
      transition: 0.15s;
      /* 點擊效果 */
      &:active{
        box-shadow:0 0.12rem 0 #333;
        filter: drop-shadow(0 0 1.2rem #f66);
      }
    }
  }
  /* home 區------------------------------------------ */
  #home{
    #homeResult{
      font-size: 1.5rem;
    }
    .hand{
      font-size: 20vmin;
    }
    .startBig{
      bottom: 18%;
      right: 22%;
      /* 點擊效果 */
      &:active{
        bottom: calc(18% - 1rem);
      }
    }
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle{
    #wine{
      display: none;
    }
  }
  /* wheel 區------------------------------------------ */
  #wheel{
    #turnTable{
      &::before{
        border: 0.65rem solid #6636;
        filter: drop-shadow(0 0 0.35rem #222);
      }
    }
    .wheelText{
      font-size: 2rem;
    }
    .initText{
      font-size: 2rem;
    }
  }
  /* raffle 區------------------------------------------ */
  #raffle{
    #box{
      width: 60%;
      height: 60%;
      border: 0.6rem solid;
      border-radius: 1.45rem;
      &::before{
        content: '';
        width: 65%;
      }
    }
    .paper{
      width: 15%;
      height: 35%;
    }
  }
}

/* 通用各尺寸 */
/* #app 區--------------------------------------- */
#app{
  width: 100%;
  height: 100%;
  background: #1976D2;
  position: relative;
  // background-image: linear-gradient(180deg, #1976D2,#19a7d2);
  // transition: 0.5s;

  button{
    height: 100% ;
  }
  // 
  .inputAdd{
    &:hover{
      color: $dh-orange;
      cursor: pointer;
      transition: color 0.1s;
    }
  }
  .inputDel{
    color: #e12e4c9f !important;
    font-size: 1.35rem !important;
    &:hover{
      color: #e12e4c !important;
      // filter: drop-shadow(0 0 0.28rem #e46a7e5b);
      cursor: pointer;
    }
  }
  .text{
    text-align: center;
    // 設定超過三行 就會變 '...'
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    // 強制英文斷行
      word-break:break-all;
  }

  #top{
    width: 100%;
    /* 讓 top 浮起來 */
    position: absolute;
    top: 0;
    div{
      height: 100%;
      padding: 0;
    }
    button{
      border-radius: 50%;
      margin: 0 1rem;
    }
    span{
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: $dh-yellow;
    }
    .login{
      height: 50%;
      color: #fff !important;
      font-size: 14px !important;
      border-radius: 0%;
      margin: 0;
      padding: 4px 6px;
      border: 1px solid transparent;
      border-radius: 0.325rem;
      transition: 0.3s;
      &:hover{
        border-color:#fffc;
      }
    }
  }

  #bottom{
    width: 100%;
    z-index: 0;
    a{
      color: $dh-red;
    }
  }

  #footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
  }
}

/* .game 區----------------------------------------- */
#home,#wheel,#raffle,#bottle,#group{
  .game{
    background: #fff;
    border-radius: 0.5rem;
    position: relative;
    // border: 0.1rem solid black;
  }
  .gameSetFrame{
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    display: flex;
    flex-direction: column;
  }
  .gameSet{
    color:#5bbfc8cc;
    // position: absolute;
    // top: 1.5%;
    // right: 1.5%;
    &:hover{
      cursor: pointer;
      color: $dh-red;
    }
  }
  .startSmall{
    animation: startColor 1.5s infinite;
    display: none;
  }
  .startBig{
    background: #e63753;
    color: white;
    position: absolute;
    z-index: 10;
    font-weight: 500;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
}
/* home 區------------------------------------------ */
  #home{
    #topHand{
      transform: rotate(180deg); 
    }
    #homeResult{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 0;
      color: #666;
      font-weight: 550;
      opacity: 0.9;
    }
    .hand{
      position: absolute;
      z-index: 1;
    }
  }

/* wheel 區結合到js裡-------------------------------- */
#wheel{
  #turnTable{
    background: #ccc9;
    width: 60vmin;
    height: 60vmin;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 3s;
    // &:active{
    //   transform: rotate(720deg);
    // }
    &::before{
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      // box-sizing: border-box;
      width: 60vmin;
      height: 60vmin;
      border-radius: 50%;
      border: 1.25rem solid #6636;
      filter: drop-shadow(0 0 0.65rem #222);
      animation: wheelChange infinite 8s;
    }

  }
  .part{
    /* 初始圓 pie 設定 */
    /* test 為測試每個圓的設定 */
    width: 100%;
    height: 50%;
    transform: rotate(90deg);
    transform-origin: 50% 100%;
    // background: $dh-yellow;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    // border:0.26rem solid #fff9;
    // 奇數
    &:nth-child(odd){
      background: $dh-red;
    }
    // 偶數
    &:nth-child(even){
    background: $dh-yellow;
    }
  }
  
  .leftPart{
    // 奇數
    &:nth-child(odd){
      background: $dh-red;
    }
    // 偶數
    &:nth-child(even){
    background: $dh-yellow;
    }
  }
  
  .initPart{
    width: 100%;
    height: 50%;
    transform-origin: 50% 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    // border:0.26rem solid #fff9;
  }
  
  .part-1{
    transform: rotate(90deg);
    background: $dh-red;
  }
  
  .part-2{
    transform: rotate(90deg + (360/3));
    background: $dh-yellow;
  }
  
  .part-3{
    width: 200%;
    transform: rotate(90deg + (360/3)*2);
    background: $dh-blue;
    right: -100%;
  }
  
  .halfRound{
    /* 左半圓來切掉多餘部分 */
    display: inline-block;
    background: rgb(178, 255, 107);
    width: 30vmin;
    height: 60vmin;
    position: relative;
    overflow: hidden;
  }
  
  .wheelText{
    /* 轉盤文字--- */
    /* 限制 最多12個項目 字型大小 4個↓ 2rem 5-6個 1.5rem 7個↑ 1rem */
    /* wheelText 為每個文字的專屬一片 pie */
    width: (100%/3);
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) rotate((360deg/3/2)*1);
    transform-origin: bottom center;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #3336;
  
    color: #fff;
    font-weight: 550;
  }
  
  .initText{
    /* 初始圓內文字設定 */
    width: (100%/3*1.18);
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0%;
    // transform: translateX(-50%) rotate((360deg/n/2)*1);
    transform-origin: bottom center;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #3336;
  
    color: #fff;
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
  }
  
  .text-1{
    transform: translateX(-50%) rotate((360deg/3/2)*1);
  }
  
  .text-2{
    transform: translateX(-50%) rotate((360deg/3/2)*3);
  }
  
  .text-3{
    transform: translateX(-50%) rotate((360deg/3/2)*5);
  }
  }

/* raffle 區------------------------------------------ */
#raffle{
  #box{
    position: absolute;
    bottom: 10%;
    border-color: #e3e3e3 !important;
    // overflow: hidden;
    &::before{
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: -10%;
      height: 15%;
      background: #fff;
    }
    &::after{
      content: '';
      width: 100%;
      height: 12%;
      display: block;
      position: absolute;
      bottom: 0%;
      z-index: 0;
      border-radius: 0.7rem;
      background-image: linear-gradient(to top,#7661 ,transparent);
    }
    #border{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .paper{
    /* TODO 開始後做翻面效果 */
    // width: 15%;
    // height: 35%;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    // max X -(5-20) Y -(0-20)
    // transform: skew(-20deg,-20deg) rotate(-60deg);
    // background: #5BBDC8;
    border-radius: 0.1rem;
    opacity: 0.88;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
  }
}

/* @keframes 動畫區------------------------------------ */
@keyframes wheelChange{
  0%{
    filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(0deg);
  }
  100%{
    filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(360deg);
  }
}

@keyframes startColor{
  0%{
    filter: hue-rotate(0deg);
    transform: scale(1);
  }
  50%{
    transform: scale(1.22);
  }
  100%{
    filter: hue-rotate(360deg);
    transform: scale(1);
  }
}

// @keyframes jumping{
//   0%{
//     transform: scale(1);
//   }
//   50%{
//     transform: scale(1.22);
//   }
//   100%{
//     transform: scale(1);
//   }
// }

