$dh-yellow: #F9e54E;
$dh-orange: #F8981D;
$dh-red: #E12E4B;
$dh-blue: #5BBDC8;
// primary: '#1976D2'
// secondary: '#424242'
// accent: '#82B1FF'
// error: '#FF5252'
// info: '#2196F3'
// success: '#4CAF50'
// warning: '#FFC107'

* {
  box-sizing: border-box;
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}

html,body{
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}

/* 更改反白背景顏色 */
::selection{
  background: $dh-red;
  color: white;
}

/* RWD */
/* 平板尺寸以下 */
// for iphone5s/5se
@media (max-width: 600px) {
  /* #app */
  #app{
    #bottom{
      a,button{
        width: calc(100% / 6);
      }
    }
  }
  /* game 區------------------------------------------ */
  #home,#wheel,#raffle,#bottle,#group{
    .gameSet{
      font-size: 1.75rem !important;
    }
  }
  /* home 區------------------------------------------ */
  #home{
    #homeResult{
      font-size: 1rem !important;
    }
  }
  /* raffle 區------------------------------------------ */
  #raffle{
    #box{
      width: 70% !important;
      height: 45% !important;
      border: 0.45rem solid !important;
      border-radius: 1rem !important;
      &::before{
        content: '';
        width: 60% !important;
      }
    }
  }
}
@media (max-width: 1024px) { 
  /* #app */
  #top{
    display: none;
  }
  #bottom{
    display: flex;
  }
  #footer{
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home,#wheel,#raffle,#bottle,#group{
    width: 100%;
    height: calc(100% - 56px);
    .game{
      width: 80%;
      height: 90%;
    }
    .gameSet{
      font-size: 2.5rem;
    }
  }
  /* home 區------------------------------------------ */
  #home{
    #homeResult{
      font-size: 1.5rem;
    }
    .hand{
      font-size: 25vmin;
    }
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle{
    #wine{
      width: 70%;
      cursor: pointer;
      transition: 2.7s;
    }
  }
  /* raffle 區------------------------------------------ */
  #raffle{
    #box{
      width: 65%;
      height: 55%;
      border: 0.6rem solid;
      border-radius: 1.35rem;
      &::before{
        content: '';
        width: 65%;
      }
    }
  }
}

/* 電腦尺寸以上 */
@media (min-width: 1025px) { 
  /* #app */
  #top{
    display: flex;
  }
  #bottom{
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home,#wheel,#raffle,#bottle,#group{
    width: 100%;
    height: 100%;
    .game{
      width: 65%;
      height: 80%;
    }
    .gameSet{
      font-size: 2.5rem;
    }
  }
  /* home 區------------------------------------------ */
  #home{
    #homeResult{
      font-size: 1.5rem;
    }
    .hand{
      font-size: 20vmin;
    }
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle{
    #wine{
      display: none;
    }
  }
  /* raffle 區------------------------------------------ */
  #raffle{
    #box{
      width: 60%;
      height: 60%;
      border: 0.6rem solid;
      border-radius: 1.45rem;
      &::before{
        content: '';
        width: 65%;
      }
    }
  }
}

/* 通用各尺寸 */
/* #app 區--------------------------------------- */
#app{
  width: 100%;
  height: 100%;
  background: #1976D2;
  position: relative;
  // background-image: linear-gradient(180deg, #1976D2,#19a7d2);
  // transition: 0.5s;

  button{
    height: 100% ;
  }
  // 
  .inputAdd{
    &:hover{
      color: $dh-orange;
      cursor: pointer;
      transition: color 0.1s;
    }
  }
  .inputDel{
    color: #e12e4c9f !important;
    font-size: 1.35rem !important;
    &:hover{
      color: #e12e4c !important;
      // filter: drop-shadow(0 0 0.28rem #e46a7e5b);
      cursor: pointer;
    }
  }

  #top{
    width: 100%;
    /* 讓 top 浮起來 */
    position: absolute;
    top: 0;
    div{
      height: 100%;
      padding: 0;
    }
    button{
      border-radius: 50%;
      margin: 0 1rem;
    }
    span{
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: $dh-yellow;
    }
    .login{
      height: 50%;
      color: #fff !important;
      font-size: 14px !important;
      border-radius: 0%;
      margin: 0;
      padding: 4px 6px;
      border: 1px solid transparent;
      border-radius: 0.325rem;
      transition: 0.3s;
      &:hover{
        border-color:#fffc;
      }
    }
  }

  #bottom{
    width: 100%;
    z-index: 0;
    a{
      color: $dh-red;
    }
  }

  #footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
  }
}

/* .game 區----------------------------------------- */
#home,#wheel,#raffle,#bottle,#group{
  .game{
    background: #fff;
    border-radius: 0.5rem;
    position: relative;
    // border: 0.1rem solid black;
  }
  .gameSetFrame{
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    display: flex;
    flex-direction: column;
  }
  .gameSet{
    color:#5bbfc8cc;
    // position: absolute;
    // top: 1.5%;
    // right: 1.5%;
    &:hover{
      cursor: pointer;
      color: $dh-red;
    }
  }
}
/* home 區------------------------------------------ */
  #home{
    #topHand{
      transform: rotate(180deg); 
    }
    #homeResult{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 0;
      color: #666;
      font-weight: 550;
      opacity: 0.9;
    }
    .hand{
      position: absolute;
      z-index: 1;
    }
  }

/* TODO wheel 區要結合到js裡-------------------------------- */
#wheel{
  #turnTable{
    background: #ccc9;
    width: 60vmin;
    height: 60vmin;
    border-radius: 50%;
    position: relative;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%,-50%);
    overflow: hidden;
    transition: transform 3s;
    // &:active{
    //   transform: rotate(720deg);
    // }
  }
  .part{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: 0% 100%;
    // 奇數
    &:nth-child(odd){
      background: $dh-red;
    }
    // 偶數
    &:nth-child(even){
    background: $dh-yellow;
    }
  }
}
/* 初始圓 pie 設定 */
/* test 為測試每個圓的設定 */
.test{
  width: 100%;
  height: 50%;
  transform: rotate(90deg);
  transform-origin: 50% 100%;
  // background: $dh-yellow;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  // 奇數
  &:nth-child(odd){
    background: $dh-red;
  }
  // 偶數
  &:nth-child(even){
  background: $dh-yellow;
  }
}

.initPart{
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.part-1{
  transform: rotate(90deg);
  background: $dh-red;
}

.part-2{
  transform: rotate(90deg + (360/3));
  background: $dh-yellow;
}

.part-3{
  width: 200%;
  transform: rotate(90deg + (360/3)*2);
  background: $dh-blue;
  right: -100%;
}

/* 左半圓來切掉多餘部分 */
.halfRound{
  display: inline-block;
  background: rgb(178, 255, 107);
  width: 30vmin;
  height: 60vmin;
  position: relative;
  overflow: hidden;
}

/* 轉盤文字--- */
/* 限制 最多12個項目 字型大小 4個↓ 2rem 5-6個 1.5rem 7個↑ 1rem */
/* wheelText 為每個文字的專屬一片 pie */
.wheelText{
  width: (100%/3);
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%) rotate((360deg/3/2)*1);
  transform-origin: bottom center;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #3336;

  color: #fff;
  font-size: 2rem;
  font-weight: 550;
}

/* 文字 */
.text{
  text-align: center;
  // 設定超過兩行 就會變 '...'
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  // 強制英文斷行
    word-break:break-all;
}

/* 初始圓內文字設定 */
.initText{
  width: (100%/3);
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  // transform: translateX(-50%) rotate((360deg/n/2)*1);
  transform-origin: bottom center;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #3336;

  color: #000;
  font-size: 2rem;
  font-weight: 550;
  text-align: center;
}

.text-1{
  transform: translateX(-50%) rotate((360deg/3/2)*1);
}

.text-2{
  transform: translateX(-50%) rotate((360deg/3/2)*3);
}

.text-3{
  transform: translateX(-50%) rotate((360deg/3/2)*5);
}

/* raffle 區------------------------------------------ */
#raffle{
  #box{
    position: absolute;
    bottom: 10%;
    border-color: #e3e3e3 !important;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: -10%;
      height: 15%;
      background: #fff;
    }
  }
  /* TODO 開始後做翻面效果 */
  .paper{
    width: 15%;
    height: 35%;
    position: absolute;
    bottom: 5%;
    // max X (0-20) Y(0-20)
    transform: skew(-20deg,-20deg) rotate(-60deg);
    background: #5BBDC8;
    border-radius: 0.1rem;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @keframes 動畫區------------------------------------ */

