$dh-yellow: #F9e54E;
$dh-orange: #F8981D;
$dh-red: #E12E4B;
$dh-blue: #5BBDC8;
// primary: '#1976D2'
// secondary: '#424242'
// accent: '#82B1FF'
// error: '#FF5252'
// info: '#2196F3'
// success: '#4CAF50'
// warning: '#FFC107'

* {
  box-sizing: border-box;
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}

html,body{
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}

/* 更改反白背景顏色 */
::selection{
  background: $dh-red;
  color: white;
}

/* RWD */
/* 平板尺寸以下 */
// for iphone5s/5se
@media (max-width: 400px) {
  #app{
    #bottom{
      a,button{
        width: calc(100% / 6);
      }
    }
  }
}
@media (max-width: 959px) { 
  /* #app */
  #top{
    display: none;
  }
  #bottom{
    display: flex;
  }
  #footer{
    display: none;
  }
  #home,#wheel,#raffle,#bottle,#group{
    width: 100%;
    height: calc(100% - 56px);
  }
  /* #game */
  .game{
    width: 80%;
    height: 90%;
    // 尺寸差異↑
    background: #fff;
    border-radius: 0.5rem;
    // border: 0.1rem solid black;
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle{
    img{
      width: 70%;
      cursor: pointer;
      transition: 2.7s;
      &:hover{
        transform: rotate(calc(360deg * 9 + rand));
     }
    }
  }
}

/* 電腦尺寸以上 */
@media (min-width: 960px) { 
  /* #app */
  #top{
    display: flex;
  }
  #bottom{
    display: none;
  }
  #home,#wheel,#raffle,#bottle,#group{
    width: 100%;
    height: 100%;
  }
  /* #game */
  .game{
    width: 65%;
    height: 80%;
    // 尺寸差異↑
    background: #fff;
    border-radius: 0.5rem;
    // border: 0.1rem solid black;
  }
}

/* #app 區--------------------------------------- */
#app{
  width: 100%;
  height: 100%;
  // background: #1976D2;
  background-image: linear-gradient(180deg, #1976D2,#1944d2);
  position: relative;

  button{
    height: 100% ;
  }

  #top{
    width: 100%;
    /* 讓 top 浮起來 */
    position: absolute;
    top: 0;
    div{
      height: 100%;
      padding: 0;
    }
    button{
      border-radius: 50%;
      margin: 0 1rem;
    }
    span{
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: $dh-yellow;
    }
    .login{
      height: 50%;
      color: #fff !important;
      font-size: 14px !important;
      border-radius: 0%;
      margin: 0;
      padding: 4px 6px;
      border: 1px solid transparent;
      border-radius: 0.325rem;
      transition: 0.3s;
      &:hover{
        border-color:#fffc;
      }
    }
  }

  #bottom{
    width: 100%;
    z-index: 0;
    a{
      color: $dh-red;
    }
  }

  #footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
  }
}

/* #bottle(酒瓶) 區----------------------------------- */
#bottle{
  img{
    width: 70%;
    cursor: pointer;
    transition: 2.7s;
    // &:hover{
    //   transform: rotate(360deg * 9 + random(360));
    // }
  }
}

/* @keframes 動畫區------------------------------------ */

