@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}

html, body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* 更改反白背景顏色 */
::-moz-selection {
  background: #E12E4B;
  color: white;
}
::selection {
  background: #E12E4B;
  color: white;
}

/* RWD */
/* 平板尺寸以下 */
@media (max-width: 600px) {
  /* #app */
  #app #bottom a, #app #bottom button {
    width: calc(100% / 6);
  }
  /* game 區------------------------------------------ */
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 1.75rem !important;
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1rem !important;
  }
  /* raffle 區------------------------------------------ */
  #raffle #box {
    width: 70% !important;
    height: 45% !important;
    border: 0.45rem solid !important;
    border-radius: 1rem !important;
  }
  #raffle #box::before {
    content: '';
    width: 60% !important;
  }
}

@media (max-width: 1024px) {
  /* #app */
  #top {
    display: none;
  }
  #bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer {
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home, #wheel, #raffle, #bottle, #group {
    width: 100%;
    height: calc(100% - 56px);
  }
  #home .game, #wheel .game, #raffle .game, #bottle .game, #group .game {
    width: 80%;
    height: 90%;
  }
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2.5rem;
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1.5rem;
  }
  #home .hand {
    font-size: 25vmin;
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle #wine {
    width: 70%;
    cursor: pointer;
    -webkit-transition: 2.7s;
    transition: 2.7s;
  }
  /* raffle 區------------------------------------------ */
  #raffle #box {
    width: 65%;
    height: 55%;
    border: 0.6rem solid;
    border-radius: 1.35rem;
  }
  #raffle #box::before {
    content: '';
    width: 65%;
  }
}

/* 電腦尺寸以上 */
@media (min-width: 1025px) {
  /* #app */
  #top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottom {
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home, #wheel, #raffle, #bottle, #group {
    width: 100%;
    height: 100%;
  }
  #home .game, #wheel .game, #raffle .game, #bottle .game, #group .game {
    width: 65%;
    height: 80%;
  }
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2.5rem;
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1.5rem;
  }
  #home .hand {
    font-size: 20vmin;
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle #wine {
    display: none;
  }
  /* raffle 區------------------------------------------ */
  #raffle #box {
    width: 60%;
    height: 60%;
    border: 0.6rem solid;
    border-radius: 1.45rem;
  }
  #raffle #box::before {
    content: '';
    width: 65%;
  }
}

/* 通用各尺寸 */
/* #app 區--------------------------------------- */
#app {
  width: 100%;
  height: 100%;
  background: #1976D2;
  position: relative;
}

#app button {
  height: 100%;
}

#app #top {
  width: 100%;
  /* 讓 top 浮起來 */
  position: absolute;
  top: 0;
}

#app #top div {
  height: 100%;
  padding: 0;
}

#app #top button {
  border-radius: 50%;
  margin: 0 1rem;
}

#app #top span {
  cursor: pointer;
}

#app #top a {
  text-decoration: none;
  color: #F9e54E;
}

#app #top .login {
  height: 50%;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 0%;
  margin: 0;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 0.325rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#app #top .login:hover {
  border-color: #fffc;
}

#app #bottom {
  width: 100%;
  z-index: 0;
}

#app #bottom a {
  color: #E12E4B;
}

#app #footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

/* .game 區----------------------------------------- */
#home .game, #wheel .game, #raffle .game, #bottle .game, #group .game {
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
}

#home .gameSetFrame, #wheel .gameSetFrame, #raffle .gameSetFrame, #bottle .gameSetFrame, #group .gameSetFrame {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
  color: #5bbfc8cc;
}

#home .gameSet:hover, #wheel .gameSet:hover, #raffle .gameSet:hover, #bottle .gameSet:hover, #group .gameSet:hover {
  cursor: pointer;
  color: #E12E4B;
}

/* home 區------------------------------------------ */
#home #topHand {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#home #homeResult {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  color: #666;
  font-weight: 550;
  opacity: 0.9;
}

#home .hand {
  position: absolute;
  z-index: 1;
}

/* TODO wheel 區要結合到js裡-------------------------------- */
#wheel #turnTable {
  background: #ccc9;
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

#wheel #turnTable:active {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

#wheel .part {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotate(0deg) skewY(0deg);
          transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#wheel .part:nth-child(even) {
  background: #F9e54E;
}

#wheel .part:nth-child(odd) {
  background: #E12E4B;
}

/* test 為測試每個圓的設定 */
.test1 {
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  background: #E12E4B;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.test2 {
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  background: #F9e54E;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.test32 {
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  background: #F8981D;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.test3 {
  width: 200%;
  height: 50%;
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  background: #5BBDC8;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 1;
}

/* 左半圓來切掉多餘部分 */
.halfRound {
  display: inline-block;
  background: #b2ff6b;
  width: 30vmin;
  height: 60vmin;
  position: relative;
  overflow: hidden;
}

/* wheelText 為測試每個圓內的文字 */
/* 限制 最多12個項目 字型大小 4個↓ 2rem 5-6個 1.5rem 7個↑ 1rem */
.wheelText1 {
  width: 33.33333%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%) rotate(15deg);
          transform: translateX(-50%) rotate(15deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3336;
  color: #000;
  font-size: 1rem;
  font-weight: 550;
}

.wheelText2 {
  width: 33.33333%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3336;
  color: #000;
  font-size: 1rem;
  font-weight: 550;
}

.wheelText3 {
  width: 33.33333%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%) rotate(75deg);
          transform: translateX(-50%) rotate(75deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3336;
  color: #000;
  font-size: 1rem;
  font-weight: 550;
}

/* raffle 區------------------------------------------ */
#raffle {
  /* TODO 開始後做翻面效果 */
}

#raffle #box {
  position: absolute;
  bottom: 10%;
  border-color: #e3e3e3 !important;
}

#raffle #box::before {
  content: '';
  display: block;
  position: absolute;
  top: -10%;
  height: 15%;
  background: #fff;
}

#raffle .paper {
  width: 15%;
  height: 35%;
  position: absolute;
  bottom: 5%;
  -webkit-transform: skew(-20deg, -20deg) rotate(-60deg);
          transform: skew(-20deg, -20deg) rotate(-60deg);
  background: #5BBDC8;
  border-radius: 0.1rem;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* @keframes 動畫區------------------------------------ */
