@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}

html, body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* 更改反白背景顏色 */
::-moz-selection {
  background: #E12E4B;
  color: white;
}
::selection {
  background: #E12E4B;
  color: white;
}

/* RWD */
/* 平板尺寸以下 */
@media (max-width: 600px) {
  /* #app */
  #app #bottom a, #app #bottom button {
    width: calc(100% / 6);
  }
  /* game 區------------------------------------------ */
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 1.75rem !important;
  }
  #home .startBig, #wheel .startBig, #raffle .startBig, #bottle .startBig, #group .startBig {
    width: 4rem !important;
    height: 4rem !important;
    font-size: 2rem !important;
    -webkit-box-shadow: 0 0.36rem 0 #be263f,0 0.55rem #333 !important;
            box-shadow: 0 0.36rem 0 #be263f,0 0.55rem #333 !important;
    border: 0.091rem solid #df5d73 !important;
    /* 點擊效果 */
  }
  #home .startBig:active, #wheel .startBig:active, #raffle .startBig:active, #bottle .startBig:active, #group .startBig:active {
    -webkit-box-shadow: 0 0.12rem 0 #333 !important;
            box-shadow: 0 0.12rem 0 #333 !important;
    -webkit-filter: drop-shadow(0 0 0.8rem #f66) !important;
            filter: drop-shadow(0 0 0.8rem #f66) !important;
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1rem !important;
  }
  #home .startBig {
    bottom: 27% !important;
    /* 點擊效果 */
  }
  #home .startBig:active {
    bottom: calc(27% - 0.9rem) !important;
  }
  /* wheel 區------------------------------------------ */
  #wheel #turnTable::before {
    border: 0.65rem solid #6636 !important;
    -webkit-filter: drop-shadow(0 0 0.015rem #222) !important;
            filter: drop-shadow(0 0 0.015rem #222) !important;
  }
  #wheel .wheelText {
    font-size: 0.6rem !important;
  }
  #wheel .initText {
    font-size: 0.6rem !important;
  }
  /* raffle 區------------------------------------------ */
  #raffle #box {
    width: 70% !important;
    height: 45% !important;
    border: 0.45rem solid !important;
    border-radius: 1rem !important;
  }
  #raffle #box::before {
    content: '';
    width: 60% !important;
  }
  #raffle .paper {
    width: 26% !important;
    height: 25% !important;
  }
}

@media (max-width: 1024px) {
  /* #app */
  #top {
    display: none;
  }
  #bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer {
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home, #wheel, #raffle, #bottle, #group {
    width: 100%;
    height: calc(100% - 56px);
  }
  #home .game, #wheel .game, #raffle .game, #bottle .game, #group .game {
    width: 80%;
    height: 90%;
  }
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2.5rem;
  }
  #home .startBig, #wheel .startBig, #raffle .startBig, #bottle .startBig, #group .startBig {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    -webkit-box-shadow: 0 0.56rem 0 #be263f,0 0.75rem #333;
            box-shadow: 0 0.56rem 0 #be263f,0 0.75rem #333;
    border: 0.1rem solid #df5d73;
    -webkit-transition: 0.12s;
    transition: 0.12s;
    /* 點擊效果 */
  }
  #home .startBig:active, #wheel .startBig:active, #raffle .startBig:active, #bottle .startBig:active, #group .startBig:active {
    -webkit-box-shadow: 0 0.12rem 0 #333;
            box-shadow: 0 0.12rem 0 #333;
    -webkit-filter: drop-shadow(0 0 1.2rem #f66);
            filter: drop-shadow(0 0 1.2rem #f66);
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1.5rem;
  }
  #home .hand {
    font-size: 25vmin;
  }
  #home .startBig {
    bottom: 32%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    /* 點擊效果 */
  }
  #home .startBig:active {
    bottom: calc(32.5% - 1rem);
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle #wine {
    width: 70%;
    cursor: pointer;
    -webkit-transition: 2.7s;
    transition: 2.7s;
  }
  /* wheel 區------------------------------------------ */
  #wheel #turnTable::before {
    border: 0.65rem solid #6636;
    -webkit-filter: drop-shadow(0 0 0.35rem #222);
            filter: drop-shadow(0 0 0.35rem #222);
  }
  #wheel .wheelText {
    font-size: 1.85rem;
  }
  #wheel .initText {
    font-size: 1.85rem;
  }
  /* raffle 區------------------------------------------ */
  #raffle #box {
    width: 65%;
    height: 55%;
    border: 0.6rem solid;
    border-radius: 1.35rem;
  }
  #raffle #box::before {
    content: '';
    width: 65%;
  }
  #raffle .paper {
    width: 22%;
    height: 28%;
  }
}

/* 電腦尺寸以上 */
@media (min-width: 1025px) {
  /* #app */
  #top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottom {
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home, #wheel, #raffle, #bottle, #group {
    width: 100%;
    height: 100%;
  }
  #home .game, #wheel .game, #raffle .game, #bottle .game, #group .game {
    width: 65%;
    height: 80%;
  }
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2.5rem;
  }
  #home .startBig, #wheel .startBig, #raffle .startBig, #bottle .startBig, #group .startBig {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    -webkit-box-shadow: 0 0.56rem 0 #be263f,0 0.75rem #333;
            box-shadow: 0 0.56rem 0 #be263f,0 0.75rem #333;
    border: 0.1rem solid #df5d73;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    /* 點擊效果 */
  }
  #home .startBig:active, #wheel .startBig:active, #raffle .startBig:active, #bottle .startBig:active, #group .startBig:active {
    -webkit-box-shadow: 0 0.12rem 0 #333;
            box-shadow: 0 0.12rem 0 #333;
    -webkit-filter: drop-shadow(0 0 1.2rem #f66);
            filter: drop-shadow(0 0 1.2rem #f66);
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1.5rem;
  }
  #home .hand {
    font-size: 20vmin;
  }
  #home .startBig {
    bottom: 18%;
    right: 22%;
    /* 點擊效果 */
  }
  #home .startBig:active {
    bottom: calc(18% - 1rem);
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle #wine {
    display: none;
  }
  /* wheel 區------------------------------------------ */
  #wheel #turnTable::before {
    border: 0.65rem solid #6636;
    -webkit-filter: drop-shadow(0 0 0.35rem #222);
            filter: drop-shadow(0 0 0.35rem #222);
  }
  #wheel .wheelText {
    font-size: 2rem;
  }
  #wheel .initText {
    font-size: 2rem;
  }
  /* raffle 區------------------------------------------ */
  #raffle #box {
    width: 60%;
    height: 60%;
    border: 0.6rem solid;
    border-radius: 1.45rem;
  }
  #raffle #box::before {
    content: '';
    width: 65%;
  }
  #raffle .paper {
    width: 15%;
    height: 35%;
  }
}

/* 通用各尺寸 */
/* #app 區--------------------------------------- */
#app {
  width: 100%;
  height: 100%;
  background: #1976D2;
  position: relative;
}

#app button {
  height: 100%;
}

#app .inputAdd:hover {
  color: #F8981D;
  cursor: pointer;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

#app .inputDel {
  color: #e12e4c9f !important;
  font-size: 1.35rem !important;
}

#app .inputDel:hover {
  color: #e12e4c !important;
  cursor: pointer;
}

#app .text {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#app #top {
  width: 100%;
  /* 讓 top 浮起來 */
  position: absolute;
  top: 0;
}

#app #top div {
  height: 100%;
  padding: 0;
}

#app #top button {
  border-radius: 50%;
  margin: 0 1rem;
}

#app #top span {
  cursor: pointer;
}

#app #top a {
  text-decoration: none;
  color: #F9e54E;
}

#app #top .login {
  height: 50%;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 0%;
  margin: 0;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 0.325rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#app #top .login:hover {
  border-color: #fffc;
}

#app #bottom {
  width: 100%;
  z-index: 0;
}

#app #bottom a {
  color: #E12E4B;
}

#app #footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

/* .game 區----------------------------------------- */
#home .game, #wheel .game, #raffle .game, #bottle .game, #group .game {
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
}

#home .gameSetFrame, #wheel .gameSetFrame, #raffle .gameSetFrame, #bottle .gameSetFrame, #group .gameSetFrame {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
  color: #5bbfc8cc;
}

#home .gameSet:hover, #wheel .gameSet:hover, #raffle .gameSet:hover, #bottle .gameSet:hover, #group .gameSet:hover {
  cursor: pointer;
  color: #E12E4B;
}

#home .startSmall, #wheel .startSmall, #raffle .startSmall, #bottle .startSmall, #group .startSmall {
  -webkit-animation: startColor 1.5s infinite;
          animation: startColor 1.5s infinite;
  display: none;
}

#home .startBig, #wheel .startBig, #raffle .startBig, #bottle .startBig, #group .startBig {
  background: #e63753;
  color: white;
  position: absolute;
  z-index: 10;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* home 區------------------------------------------ */
#home #topHand {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#home #homeResult {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  color: #666;
  font-weight: 550;
  opacity: 0.9;
}

#home .hand {
  position: absolute;
  z-index: 1;
}

/* wheel 區結合到js裡-------------------------------- */
#wheel #turnTable {
  background: #ccc9;
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

#wheel #turnTable::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  border: 1.25rem solid #6636;
  -webkit-filter: drop-shadow(0 0 0.65rem #222);
          filter: drop-shadow(0 0 0.65rem #222);
  -webkit-animation: wheelChange infinite 8s;
          animation: wheelChange infinite 8s;
}

#wheel .part {
  /* 初始圓 pie 設定 */
  /* test 為測試每個圓的設定 */
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#wheel .part:nth-child(odd) {
  background: #E12E4B;
}

#wheel .part:nth-child(even) {
  background: #F9e54E;
}

#wheel .leftPart:nth-child(odd) {
  background: #E12E4B;
}

#wheel .leftPart:nth-child(even) {
  background: #F9e54E;
}

#wheel .initPart {
  width: 100%;
  height: 50%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#wheel .part-1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #E12E4B;
}

#wheel .part-2 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  background: #F9e54E;
}

#wheel .part-3 {
  width: 200%;
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  background: #5BBDC8;
  right: -100%;
}

#wheel .halfRound {
  /* 左半圓來切掉多餘部分 */
  display: inline-block;
  background: #b2ff6b;
  width: 30vmin;
  height: 60vmin;
  position: relative;
  overflow: hidden;
}

#wheel .wheelText {
  /* 轉盤文字--- */
  /* 限制 最多12個項目 字型大小 4個↓ 2rem 5-6個 1.5rem 7個↑ 1rem */
  /* wheelText 為每個文字的專屬一片 pie */
  width: 33.33333%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 550;
}

#wheel .initText {
  /* 初始圓內文字設定 */
  width: 39.33333%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 550;
  text-align: center;
}

#wheel .text-1 {
  -webkit-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
}

#wheel .text-2 {
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

#wheel .text-3 {
  -webkit-transform: translateX(-50%) rotate(300deg);
          transform: translateX(-50%) rotate(300deg);
}

/* raffle 區------------------------------------------ */
#raffle #box {
  position: absolute;
  bottom: 10%;
  border-color: #e3e3e3 !important;
}

#raffle #box::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  top: -10%;
  height: 15%;
  background: #fff;
}

#raffle #box::after {
  content: '';
  width: 100%;
  height: 12%;
  display: block;
  position: absolute;
  bottom: 0%;
  z-index: 0;
  border-radius: 0.7rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7661), to(transparent));
  background-image: linear-gradient(to top, #7661, transparent);
}

#raffle #box #border {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#raffle .paper {
  /* TODO 開始後做翻面效果 */
  position: absolute;
  z-index: 1;
  bottom: 5%;
  border-radius: 0.1rem;
  opacity: 0.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 550;
}

/* @keframes 動畫區------------------------------------ */
@-webkit-keyframes wheelChange {
  0% {
    -webkit-filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(0deg);
            filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(0deg);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(360deg);
            filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(360deg);
  }
}
@keyframes wheelChange {
  0% {
    -webkit-filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(0deg);
            filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(0deg);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(360deg);
            filter: drop-shadow(0 0 0.65rem #ccc) hue-rotate(360deg);
  }
}

@-webkit-keyframes startColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.22);
            transform: scale(1.22);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes startColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.22);
            transform: scale(1.22);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
