@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}

html, body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* 更改反白背景顏色 */
::-moz-selection {
  background: #E12E4B;
  color: white;
}
::selection {
  background: #E12E4B;
  color: white;
}

/* RWD */
/* 平板尺寸以下 */
@media (max-width: 600px) {
  /* #app */
  #app #bottom a, #app #bottom button {
    width: calc(100% / 6);
  }
  /* game 區------------------------------------------ */
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2rem !important;
  }
  /* home 區------------------------------------------ */
  #home #homeResult {
    font-size: 1rem !important;
  }
}

@media (max-width: 1024px) {
  /* #app */
  #top {
    display: none;
  }
  #bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #footer {
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home, #wheel, #raffle, #bottle, #group {
    width: 100%;
    height: calc(100% - 56px);
  }
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2.5rem;
  }
  .game {
    width: 80%;
    height: 90%;
  }
  /* home 區------------------------------------------ */
  #home span {
    font-size: 25vw;
  }
  #home #homeResult {
    font-size: 1.5rem;
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle #wine {
    width: 70%;
    cursor: pointer;
    -webkit-transition: 2.7s;
    transition: 2.7s;
  }
}

/* 電腦尺寸以上 */
@media (min-width: 1025px) {
  /* #app */
  #top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #bottom {
    display: none;
  }
  /* .game 區----------------------------------------- */
  #home, #wheel, #raffle, #bottle, #group {
    width: 100%;
    height: 100%;
  }
  #home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
    font-size: 2.5rem;
  }
  .game {
    width: 65%;
    height: 80%;
  }
  /* home 區------------------------------------------ */
  #home span {
    font-size: 200px;
  }
  #home #homeResult {
    font-size: 1.5rem;
  }
  /* #bottle(酒瓶) 區----------------------------------- */
  #bottle #wine {
    display: none;
  }
}

/* 通用各尺寸 */
/* #app 區--------------------------------------- */
#app {
  width: 100%;
  height: 100%;
  background: #1976D2;
  position: relative;
}

#app button {
  height: 100%;
}

#app #top {
  width: 100%;
  /* 讓 top 浮起來 */
  position: absolute;
  top: 0;
}

#app #top div {
  height: 100%;
  padding: 0;
}

#app #top button {
  border-radius: 50%;
  margin: 0 1rem;
}

#app #top span {
  cursor: pointer;
}

#app #top a {
  text-decoration: none;
  color: #F9e54E;
}

#app #top .login {
  height: 50%;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 0%;
  margin: 0;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 0.325rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#app #top .login:hover {
  border-color: #fffc;
}

#app #bottom {
  width: 100%;
  z-index: 0;
}

#app #bottom a {
  color: #E12E4B;
}

#app #footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
}

/* .game 區----------------------------------------- */
#home .gameSet, #wheel .gameSet, #raffle .gameSet, #bottle .gameSet, #group .gameSet {
  color: #5bbfc8cc;
  position: absolute;
  top: 1.5%;
  right: 1.5%;
}

#home .gameSet:hover, #wheel .gameSet:hover, #raffle .gameSet:hover, #bottle .gameSet:hover, #group .gameSet:hover {
  cursor: pointer;
  color: #E12E4B;
}

.game {
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
}

/* home 區------------------------------------------ */
#home #topHand {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#home #homeResult {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  color: #666;
  font-weight: 550;
  opacity: 0.9;
}

#home .hand {
  position: absolute;
  z-index: 1;
}

/* wheel 區------------------------------------------- */
#wheel #table {
  background: #ccc9;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  -webkit-transition: 3s;
  transition: 3s;
}

#wheel #table:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

#wheel .part {
  width: 300px;
  height: 300px;
}

#wheel .part:nth-child(even) {
  background: #F9e54E;
}

#wheel .part:nth-child(odd) {
  background: #E12E4B;
}

/* @keframes 動畫區------------------------------------ */
